{% extends "base.html" %}
{% block title %}Profile – SFSU Thrift Market{% endblock %}

{% block content %}
<!-- ========== Main Container ========== -->
<div class="profile-main-container">
  <div class="profile-grouping">
    <div class="profile-main-section profile-info">
      <h1>John Doe</h1>
      <img src="../static/templatephotos/stock-happy-man.jpg" width=100%>
      <p>joined Apr 15, 2024</p>
      <p>Average Rating: 4.6/5</p>
      <p>13 listings</p>
      <div class="profile-buttons">
        <a href="" class="btn btn-outline">Contact</a>
      </div>
    </div>
    <div class="profile-main-section">
      <h2>Bio</h2>
      <p>Hey there! My name is John Doe, and I'm a third-year student at SF State.
        I like to join the SFSU Campus Rec events and I enjoy playing video games and
        hanging out with friends. Looking to sell some old clothes, if you're interested
        hmu!
      </p>
    </div>
  </div>

  <div class="profile-schedule">
    <div>
      <h2>Availability</h2>
    </div>
    <img src="../static/templatephotos/google-agenda.jpg" width="100%">
  </div>

  <div class="profile-listing-row">
    <div>
      <h2>Listings</h2>
    </div>
    <div class="listing-card">
      <img src="../static/templatephotos/compression-shirt.png" class="listing-img">
      <h3>Compression shirt, black</h3>
      <div class="auth-buttons">
        <a class="btn btn-outline">Buy Now</a>
      </div>
    </div>
    <div class="listing-card">
      <img src="../static/templatephotos/shorts.jpeg" class="listing-img">
      <h3>Gray shorts</h3>
      <div class="auth-buttons">
        <a class="btn btn-outline">Buy Now</a>
      </div>
    </div>
    <div class="listing-card">
      <img src="../static/templatephotos/sweater.jpg" class="listing-img">
      <h3>Sweater</h3>
      <div class="auth-buttons">
        <a class="btn btn-outline">Buy Now</a>
      </div>
    </div>
  </div>

  <div class="profile-review-row">
    <h2>Reviews</h2>
    <div class="review-card">
      <h3>Sabrina L.</h3>
      <p>My boyfriend loves this compression shirt! Fits perfect!</p>
    </div>
    <div class="review-card">
      <h3>Danny P.</h3>
      <p>The shorts were needed after my last ones ripped. Thanks, John!</p>
    </div>
    <div class="review-card">
      <h3>Chris B.</h3>
      <p>Practically not even used. The shoes are a bit loose but the quality is great for being worn for so long.</p>
    </div>
    <div class="review-card">
      <h3>Lenny J.</h3>
      <p>Awesome t-shirts. Thanks, John</p>
    </div>
  </div>
</div>
{% endblock %}