<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutAnnison</title>
</head>
<body>
    <img src="../static/silhouette.png" alt="silhouette of a person">
    <h3>Annison Van</h3>
    <p>Student at San Francisco State University</p>
    <a href="www.linkedin.com/in/annisonvan">Linkedin</a>
    <a href="https://github.com/anvan882">GitHub</a>
</body>
</html>