{% extends "aboutPage.html" %}

{% block content %}
    <img src="/static/joe-headshot-2025.jpg" width="100px">
        <div>Joseph Shur is currently studying Computer Science at San Francisco State University. 
            He plans on working with both front- and back-end for his career in CS, having learned 
            languages such as Java, HTML, and CSS/Bootstrap, and working with other languages 
            like NodeJS, Express. He is currently learning Python and C++, as well as how to utilize
            other server technologies to further his capability for future projects. 
    <p>Hi, My name is Joseph Alhambra and I am the front end developer of this project.</p>
{% endblock %}
