{% extends "about_page.html" %}

{% block content %}
    <img src="{{url_for('static', filename='pfp/seymour.jpg')}}" alt="Hilary Lui's white cat, Seymour" width="250">
        <p>This is Hilary Lui. She is a student at SFSU studying Computer Science. She is the team lead of Team 15 and is excited to work with her team to create a great project.</p>
        <p>She has a cat named Seymour. Seymour is stupid.</p>
        <a href="https://github.com/Hluii" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/hilarylui17/" target="_blank">LinkedIn</a>
{% endblock %}

