{% extends "about_page.html" %}

{% block content %}
    <img src="{{url_for('static', filename='pfp/joseph.png')}}" alt="image missing" height="400">
    <p>Hi, My name is Joseph Alhambra and I am the front end developer of this project.</p>
    <a href="https://www.linkedin.com/in/joseph-alhambra-iii-5a439b353/" target="_blank">Linkedin</a>
    <a href="https://github.com/JosephCVA" target="_blank">GitHub</a>
{% endblock %}

{% block person_content %}
<img src="{{ url_for('static', filename='pfp/joseph.png') }}" alt="Joseph Alhambra" class="about-image">
<p>
  Hi, my name is Joseph Alhambra and I am the front‑end developer of this project.
</p>
{% endblock %}